<ng-container>
  <h5>Upcoming Consultations</h5>
  <hr />
  <div *ngIf="bookings$ | async as bookings">
    <div *ngIf="bookings.length; else noBookings">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile class="wrapper" rowspan="2">
          <div class="appointments">
            <app-appointment-card
              *ngFor="let booking of bookings; trackBy: identify"
              [booking]="booking"
              (onEnableDetails)="enableDetails($event)"
            ></app-appointment-card>
          </div>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
          <div
            class="container"
            *ngIf="selectedBooking$ | async as selectedBooking"
          >
            <app-appointment-details
              *ngIf="seeDetails"
              [selectedBooking]="selectedBooking"
              [seeDetails]="seeDetails"
              [displayCancelBtn]="true"
              (onCancelBooking)="cancelBooking($event)"
            ></app-appointment-details>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</ng-container>
<ng-template #noBookings>
  <div class="no-booking">No bookings found</div>
</ng-template>
